@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #f0f4f8;
  --background-color: #0A0F22;
  --primary-color: #3FAA95;
  --secondary-color: #BAC7CC;
  --accent-color: #1D2233;
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 235, 234, 234;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 21, 20, 20;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--text-color);
  background: var(--background-color);
}
